* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

.Container {
    display: block;
    border: 2px solid rgb(220, 220, 220);
    border-radius: 5px;
    margin: auto;
    max-width: 60vw;
    height: 144vh;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.img {
    text-align: center;
}

img {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    max-width: 100%;
    height: auto;
}

.pic-info {
    display: flex;
    justify-content: space-evenly;
    margin: 15px 0;
}

h1 {
    margin: 10px 0;
    padding: 5px;
    font-weight: bold;
}

p {
    color: rgb(110, 110, 110);
}

.about-me {
    text-align: center;
    margin: 20px 0;
}

button {
    box-shadow: 0 0 px rgba(0, 0, 0, 0.2);
    background-color: rgb(210,210,240);
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 45px;
    text-decoration: none;
    cursor: pointer;
}

button a {
    color: #fff;
    text-decoration: none;
    padding: 20px;
    overflow: hidden;
}
